
     
     <div class="chat">
          
          <aside class="chat_sidebar">
               <nav class="page_main_nav">
                    <ul>
                         {{!-- <li><a href="/login" onclick="route()">Login</a></li> --}}
                         <li>{{{linkLogin}}}</li>
                         <li>{{{linkSignin}}}</li>
                         <li>{{{linkProfile}}}</li>
                         <li>{{{link404}}}</li>
                         <li>{{{link500}}}</li>
                    </ul>
               </nav>
               <div class="chat_top">
                    {{{link}}}
                    {{{inputSearch}}}
                    {{{createChat}}}
                    {{{createChatModal}}}
               </div>
               <div class="chat_items_list">
                    {{{chatsList}}}
               </div>
          </aside>
          <section class="chat_place">
               <div class="chat_place_top">

                    {{#if selectedChat }}
                              <span>{{{avatar}}}</span>
                         {{{avatarModal}}}
                         <p class="chat_title">Имя чата: {{selectedChat.title}}</p>
                         <span>{{{delChat}}}</span>
                         <ul class="chat_users">
                              <span>Учасники:</span>
                              {{#each users}}
                                   <li>{{this}}</li>
                              {{/each}}
                         </ul>
                    {{/if}}

                         

                    <span class="chat_menu">
                         {{#if selectedChat }}
                              
                              <span>{{{buttonMenu}}}</span>
                         {{/if}}
                         
                         {{{menuModal}}}
                         {{{userModal}}}
                    </span>
               </div>
               <div class="chat_place_middle">
                    {{{messengesArea}}}
               </div>
               <div class="chat_place_bottom">
                    <div class="chat_attachment">
                         {{{buttonAttach}}}
                         {{{attachModal}}}
                    </div>
                    <div class="chat_message_input">
                         {{{inputMessage}}}
                    </div>
                    <div class="chat_send">
                         {{{buttonSend}}}
                    </div>
               </div>
          </section>
     </div>

