{{#if isLoginForm}}
    <h2 class="form_title">Войти</h2>
    <fieldset class="form_fieldset">
        <label for="email">Логин</label>
        {{{input}}}
    </fieldset>
    
    {{{button}}}
    {{{link}}}

{{else if isSigninForm}}
  <h2 class="form_title">Регистрация</h2>
  <fieldset class="form_fieldset">
    <label for="email">Логин</label>
        {{{input}}}
    </fieldset>
    
    {{{button}}}
    {{{link}}}

{{/if}}
