{{#if isLoginForm}}
    <h2 class="form_title">Войти</h2>
    <fieldset class="form_fieldset">
        <label for="login">Логин</label>
        {{{inputLogin}}}
    <label for="password">Пароль</label>
        {{{inputPassword}}}
    </fieldset>
    
    {{{button}}}
    {{{link}}}

{{else if isSigninForm}}
  <h2 class="form_title">Регистрация</h2>
  <fieldset class="form_fieldset">
    <label for="login">Почта</label>
        {{{inputEmail}}}
    <label for="password">Логин</label>
        {{{inputLogin}}}
    <label for="first_name">Имя</label>
        {{{inputFirstName}}}
    <label for="second_name">Фамилия</label>
        {{{inputLastName}}}
    <label for="phone">Телефон</label>
        {{{inputPhone}}}
    <label for="password">Пароль</label>
        {{{inputPassword}}}
    <label for="repeat_password">Пароль еще раз</label>
        {{{inputRepeatPassword}}}
    </fieldset>
    
    {{{button}}}
    {{{link}}}
{{else if isProfileChangeForm}}
  <fieldset class="form_fieldset">
    <div class="page_profile_data  profile_change_input">
          <label for="login">Почта</label>
        {{{inputEmail}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="password">Логин</label>
        {{{inputLogin}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="first_name">Имя</label>
        {{{inputFirstName}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="second_name">Фамилия</label>
        {{{inputLastName}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="phone">Телефон</label>
        {{{inputPhone}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="chat_name">Имя в чате</label>
        {{{inputChatName}}}
     </div>
    </fieldset>
    
    {{{button}}}
{{else if isProfilePasswordChangeForm}}
  <fieldset class="form_fieldset">
    <div class="page_profile_data  profile_change_input">
          <label for="oldPassword">Старый пароль</label>
        {{{inputOldPassword}}}
     </div>
    <div class="page_profile_data  profile_change_input">
          <label for="newPassword">Новый пароль</label>
        {{{inputNewPassword}}}
     </div>
    <div class="page_profile_data profile_change_input">
          <label for="new_password_repeat">Новый пароль</label>
        {{{inputRepeatNewPassword}}}
     </div>
    </fieldset>
    {{{button}}}

{{/if}}
