<div class="container">
    <h2 class="form_title">Регистрация</h2>
  <fieldset class="form_fieldset">
    <label for="login">Почта</label>
        {{{email}}}
    <label for="password">Логин</label>
        {{{login}}}
    <label for="first_name">Имя</label>
        {{{firstName}}}
    <label for="second_name">Фамилия</label>
        {{{lastName}}}
    <label for="phone">Телефон</label>
        {{{phone}}}
    <label for="password">Пароль</label>
        {{{password}}}
    <label for="repeat_password">Пароль еще раз</label>
        {{{repeatPassword}}}
    </fieldset>
    
    {{{button}}}
    {{{link}}}
</div>
